<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

    <!-- Navigation -->
    <div th:insert="~{usuarios/template_usuario :: nav}"></div>


    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row center-div">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Cambio de contraseña</h4>
                        <br>
                        <form th:action="@{/usuario/cambiapassword}" method="post">
                            <input type="hidden" name="token" th:value="${token}" />
                            <input type="hidden" name="email" th:value="${email}" />                       
                            <div class="mb-3">
                                <label for="password">Nueva contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Escribe tu nueva contraseña" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirmPassword">Repite la contraseña</label>
                                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Repite la contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100">Confirmar</button>
                            <br><br>
                            <h5 th:if="${param.error}" style="color: red; font-weight: bold; text-align: center">Las contraseñas no coinciden.</h5>
                            <h5 th:if="${param.changed}" style="color: green; font-weight: bold; text-align: center">Contraseña cambiada con éxito.</h5>
                        </form>
                        <div class="d-flex-justify" style="display: flex; justify-content: space-between;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!-- /.Page Content -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

</body>

</html>
