<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">


      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
         <small>Carrito</small>
      </h1>

      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
           <div class="col-lg-9">
            <table class="table">

              <tbody>
                
                <tr th:if="${carrito != null && !#lists.isEmpty(carrito.productos)}" th:each="producto : ${carrito.productos}">
                    <td><img class="img-fluid" th:src="@{images/{img} (img = ${producto.portada})}" width="100px" height="100px" th:classappend="${producto.vendido} ? 'grayscale' : ''"/></td>
                    <td th:if="${producto.vendido}" th:text="${producto.nombre}"></td>
                    <td th:if="!${producto.vendido}" th:text="${producto.nombre}"></td>
                    <td th:if="!${producto.vendido}" th:text="${producto.precio} + '€'"></td>
                    <td th:if="${producto.vendido}" th:text="'[VENDIDO]'" style="font-size: large; color: red"></td>
                    <td><a th:href="@{/quitar/{id} (id = ${producto.id})}" class="btn btn-danger">Quitar</a></td>
                </tr>
                <tr th:if="${carrito == null || #lists.isEmpty(carrito.productos)}">
                    <td colspan="6"><h3>Carrito vacío</h3></td>
                </tr>

              </tbody>
            </table>
          </div>

          <div class="col-lg-3">
            <h2 class="card-title">TOTAL</h2>

            <ul class="list-group">
              <li class="list-group-item"><h5 th:text="${carrito.total} + '€'"></h5></li>
              <a th:if="${!#lists.isEmpty(carrito.productos)}" th:href="@{/pedido}" class="btn btn-dark">Continuar</a>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
