<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
<div class="container mt-5">
    <br><br>
    <div class="card">
        <div class="card-header text-center" style="background-color: blanchedalmond;">
            <h2 th:text="'Hola! ' + ${usuario.nombre}"></h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4>Datos Personales</h4>
                    <p>
                        <strong>Nombre:</strong> <span th:text="${usuario.nombre}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Apellidos:</strong> <span th:text="${usuario.apellidos}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Email:</strong> <span th:text="${usuario.email}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Teléfono:</strong> <span th:text="${usuario.telefono}" style="display: inline;"></span>
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>Datos de Dirección</h4>
                    <p>
                        <strong>Dirección:</strong> <span th:text="${usuario.direccion}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Localidad:</strong> <span th:text="${usuario.localidad}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>CP:</strong> <span th:text="${usuario.CP}" style="display: inline;"></span>
                    </p>
                </div>
            </div>
            <div class="row mt-4" sec:authorize="hasRole('ADMIN')">
                <div class="col-md-6">
                    <h4>Datos Adicionales</h4>
                    <p>
                        <strong>ID:</strong> <span th:text="${usuario.id}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Rol:</strong> <span th:text="${usuario.roles}" style="display: inline;"></span>
                    </p>
                    <p>
                        <strong>Activo:</strong> <span th:text="${usuario.activo}" style="display: inline;"></span>
                    </p>
                </div>
                <div class="col-md-6">
                    <br><br><br><br>
                    <div class="d-flex justify-content-end">
                        <a class="btn btn-dark" th:href="@{/usuario/edit/{id}(id=${usuario.id})}" style="margin-right: 10px;">Editar</a>
                        <a class="btn btn-dark" th:href="@{/pedidos/usuario/{id}(id=${usuario.id})}" style="margin-right: 10px;">Ver pedidos</a>
                        <a th:if="${usuario.activo} == 1" class="btn btn-danger" th:href="@{/usuario/desactivar/{id}(id=${usuario.id})}">Desactivar usuario</a>
                        <a th:if="${usuario.activo} == 0" class="btn btn-warning" th:href="@{/usuario/desactivar/{id}(id=${usuario.id})}">Activar usuario</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="card" id="opciones">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">Desde aquí puedes editar tu información personal, tu dirección de envío y ver tus pedidos.</h6>
        <div class="list-group">
          <a th:href="@{/usuario/direccion/editar}" class="list-group-item list-group-item-action">Editar Dirección</a>
          <a th:href="@{/usuario/cuenta/editar}" class="list-group-item list-group-item-action">Editar Detalles</a>
          <a th:href="@{/pedidos}" class="list-group-item list-group-item-action">Ver Pedidos</a>
        </div>
      </div>
    </div>
</div>
    <br><br>
    <!-- /.container -->

    <input type="hidden" id="idSesion" th:value="${usuarioSesion.id}">
    <input type="hidden" id="idPerfil" th:value="${usuario.id}">

    <script th:inline="javascript">
        var idSesion = document.getElementById('idSesion').value;
        var idPerfil = document.getElementById('idPerfil').value;
  
        // Lógica para determinar qué URL asignar al action del formulario
        if (idSesion != idPerfil) {
            document.getElementById('opciones').style.display = 'none';
        }
      </script>

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
