<!DOCTYPE html>
<html lang="es">
  <head>
    <style>
    .loading-spinner {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1050; /* Asegúrate de que está por encima de otros elementos */
    }

    .loading-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1040; /* Debe estar debajo de .loading-spinner pero por encima del contenido */
      display: none;
    }
  </style>
</head>

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>
    <!-- Page Content -->
    <div class="container">
      <br><br>
      <h2 th:text="${'Devolución del pedido ' + pedido.numero}">Devolución del pedido</h2>
    <div class="row">
            
        <!-- Tabla datos del pedido -->
        <div class="col-lg-8 mb-4">
          <div class="card" style="border: 0px;">
            <div class="card-body">
              <h5 th:if="${pedido.cancelacion == true}" style="color: red;">Se ha solicitado la cancelación del pedido</h5>
              <table class="table" style="text-align: center;">
                <form id="estado" th:action="@{/actualizarEstado/{id}(id=${pedido.id})}" method="post">
                <thead>           
                  <tr>
                    <th scope="col" style="border-top: 0px;">Instrucciones</th>
                    <th scope="col" style="border-top: 0px;"></th>
                    <th scope="col" style="border-top: 0px;"></th>
                    <th scope="col" style="border-top: 0px;"></th>
                    <th scope="col"  style="border-top: 0px;">
                      <button th:if="${pedido.cancelacion == false && pedido.estado != 'Cancelado' && pedido.estado != 'Entregado'}" th:value="${pedido.id}"  data-toggle="modal" id="cancelar-pedido" data-target="#exampleModal" class="btn btn-dark cancel-button">Cancelar pedido</button>
                      <button th:if="${pedido.devolucion == false && pedido.estado == 'Entregado'}" th:value="${pedido.id}"  data-toggle="modal" id="cancelar-pedido" data-target="#exampleModal2" class="btn btn-dark devolver-button">Devolver pedido</button>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td style="font-weight: bold;">Paso 1.</td>
                    <td>Meter los artículos en una caja.</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold; border-top: 0px;">Paso 2.</td>
                    <td style="border-top: 0px;">Entregar el pedido.</td>
                  </tr>
                </tbody>
              </form>
              </table>
            </div>
          </div>
           <!-- Fin tabla datos del pedido -->

          <!-- Tabla de productos -->
          <div class="card mb-4" style="border-width: 0px;">
            <div class="card-body">
              <h5 class="card-title">Resumen del pedido</h5>
              <div class="alert alert-light" role="alert">
                <table class="table">
                  <tbody>
                    <tr th:each="producto : ${pedido.productos}">
                      <td><img class="img-fluid"  th:src="@{'/images/' + ${producto.portada}}" width="100px" height="100px"/></td>
                      <!-- Añade text-align: center; al estilo de las celdas para centrar el texto -->
                      <td style="text-align: left;" th:text="${producto.nombre}">Nombre</td>
                      <td style="text-align: center; font-weight: bold;" th:text="${producto.precio} + '€'">Precio</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h6 style="text-align: right" th:text="'Gastos de envío: ' + '6,95' + '€'">Total: </h6>
              <h5 th:text="'Total: ' + ${pedido.total} + '€'" style="text-align: right; font-weight: bold"></h5>
            </div>
          </div>
        </div>
        <!-- Fin tabla de productos -->
       

        <!-- Card datos de la dirección -->
        <div class="col-lg-4 mb-4">
          <div class="card" style="border-color: aquamarine; border-width: 3px;">
            <div class="card-body">
              <h5 class="card-title">Dirección de devolución</h5>
              <h6 class="card-subtitle mb-2" th:text="${pedido.usuario.nombre + ' ' + pedido.usuario.apellidos}"></h6>
              <br>
              <p class="card-text" th:text="${pedido.usuario.direccion}"></p>
              <p class="card-text" th:text="${pedido.usuario.localidad}"></p>
              <p class="card-text" th:text="'CP: ' + ${pedido.usuario.CP}"></p>
              <p class="card-text" th:text="'Tlf: ' + ${pedido.usuario.telefono}"></p>
              <p class="card-text" th:text="${pedido.usuario.email}"></p>
            </div>
          </div>
          <!-- Fin card datos de la dirección -->

          <br>

          

        </div>

    </div>
      
  </div>

  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div th:if="${pedido.estado != 'Enviado'}" class="modal-dialog modal-dialog-centered">
    <form action="#" id="cancelar" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel" style="color: rgb(241, 193, 120);">Cancelar pedido</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>¿Quieres solicitar la cancelación del pedido?</h5>
          <h5></h5>
        </div>
        <div class="modal-footer">
          <a id="cancelbutton" href="#">
            <button type="button" class="btn btn-danger">SI</button>
          </a>
          <button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
        </div>
      </div>
    </form>
  </div>
  <div th:if="${pedido.estado == 'Enviado'}" class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="color: rgb(241, 193, 120);">Cancelar pedido</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>El pedido ya se ha enviado y no puede ser cancelado pero cuando lo recibas puedes realizar la devolución.</h5>
        <h5></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vale</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div th:if="${pedido.estado != 'Enviado'}" class="modal-dialog modal-dialog-centered">
    <form action="#" id="cancelar" >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel" style="color: rgb(241, 193, 120);">Devolver pedido</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>¿Quieres devolver el pedido?</h5>
          <h5 style="font-weight: lighter;">Te recordamos que para tramitar la devolución deberás cargar con los gastos de envío. Una vez recibamos el producto y lo revisemos, procederemos a realizar la devolución del importe, recibirás una confirmación en tu email.</h5>
        </div>
        <div class="modal-footer">
          <a id="devolverbutton" href="#">
            <button type="button" class="btn btn-danger">SI</button>
          </a>
          <button type="button" class="btn btn-success" data-dismiss="modal">NO</button>
        </div>
      </div>
    </form>
  </div>
</div>
  

 <!-- Fondo oscurecido -->
 <div id="loading-background" class="loading-background"></div>

 <!-- Contenedor de la rueda de carga centrada -->
 <div id="loading" class="loading-spinner" style="display:none;">
   <div class="spinner-border text-warning" role="status">
     <span class="sr-only">Cargando...</span>
   </div>
 </div>
   <!-- Footer -->
   <div th:insert="~{usuarios/template_usuario :: footer}"></div>

   <!-- Scripts -->
   <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>

   <!-- Script para mostrar la rueda de carga -->
   <script>
    function showLoading() {
        // Muestra el fondo oscurecido y la rueda de carga
        document.getElementById('loading-background').style.display = 'block';
        document.getElementById('loading').style.display = 'block';
    }

    function hideSubmitButton(form) {
        // Oculta el botón de submit para evitar múltiples envíos
        form.querySelector('button[type="submit"]').style.display = 'none';
    }

    // Añade el evento de submit a ambos formularios
    document.getElementById('estado').addEventListener('submit', function(event) {
        showLoading();
        hideSubmitButton(this);
    });

    document.getElementById('seguimiento').addEventListener('submit', function(event) {
        showLoading();
        hideSubmitButton(this);
    });

    document.getElementById('cancelar').addEventListener('submit', function(event) {
        showLoading();
        hideSubmitButton(this);
    });
</script>

<script>
  document.getElementById('cancelar-pedido').addEventListener('click', function(event) {
      // Previene el comportamiento por defecto del botón
      event.preventDefault();
  });
</script>

<script type="text/javascript">  document.querySelectorAll('.cancel-button').forEach(button => {
  button.addEventListener('click', function() {
    var id = this.getAttribute('value');
    document.getElementById('cancelbutton').setAttribute('href', '/cancelar/' + id);
  });
});
</script>

<script type="text/javascript">  document.querySelectorAll('.devolver-button').forEach(button => {
  button.addEventListener('click', function() {
    var id = this.getAttribute('value');
    document.getElementById('devolverbutton').setAttribute('href', '/devolver/' + id);
  });
});
</script>
</body>

</html>

