<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">

      <input type="hidden" id="urlWithId" th:value="'/edit/' + ${usuario.id}">
      <input type="hidden" id="urlEditarCuenta" th:value="@{/usuario/cuenta/editar}">

      <br><br>

      <h1 class="mb-4">Editar datos de usuario</h1>


    <form id="myForm" method="post">
      
      <!-- ID del usuario   -->
      <input type="hidden" id="idUsuarioFormulario" th:value="${usuario.id}">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input th:field="${usuario.nombre}" name="nombre" type="text" class="form-control" id="nombre" placeholder="Introduce tu nombre" required>
      </div>
      <!-- Apellidos -->
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input th:field="${usuario.apellidos}" name="apellidos" type="text" class="form-control" id="apellidos" placeholder="Introduce tus apellidos" required>
      </div>
      <!-- Dirección -->
      <div class="form-group">
        <label for="direccion">Dirección</label>
        <input th:field="${usuario.direccion}" name="direccion" type="text" class="form-control" id="direccion" placeholder="Introduce tu dirección" required>
      </div>
      <!-- Localidad -->
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input th:field="${usuario.localidad}" name="localidad" type="text" class="form-control" id="localidad" placeholder="Introduce tu localidad" required>
      </div>
      <!-- Código Postal -->
      <div class="form-group">
        <label for="codigoPostal">Código Postal</label>
        <input th:field="${usuario.CP}" name="CP" type="text" class="form-control" id="codigoPostal" placeholder="Introduce tu código postal" pattern="\d{5}" required title="Por favor, introduce exactamente 5 dígitos.">
      </div>
      <!-- Teléfono -->
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input th:field="${usuario.telefono}" name="telefono" type="tel" class="form-control" id="telefono" placeholder="Introduce tu teléfono" pattern="\d{9}" required title="Por favor, introduce exactamente 9 dígitos en el teléfono.">
      </div>
      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input th:field="${usuario.email}" name="email" type="email" class="form-control" id="email" placeholder="Introduce tu email" required>
      </div>
      <br>
      <button type="submit" class="btn btn-dark">Guardar Cambios</button>
      <br><br>
    </form>


    </div>
    <script th:inline="javascript">
      var urlWithId = document.getElementById('urlWithId').value;
      var urlEditarCuenta = document.getElementById('urlEditarCuenta').value;
  
      //ID del usuario del formulario
      var userId = document.getElementById('idUsuarioFormulario').value;

      //ID del usuario de la sesión
      var sesionId = document.getElementById('sesionId').value;

      // Lógica para determinar qué URL asignar al action del formulario
      if (userId != sesionId) {
          document.getElementById('myForm').setAttribute('action', urlWithId);
      } else {
          document.getElementById('myForm').setAttribute('action', urlEditarCuenta);
      }
    </script>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
