<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">

      <input type="hidden" id="urlWithId" th:value="'/edit/' + ${usuario.id}">
      <input type="hidden" id="urlEditarCuenta" th:value="@{/usuario/cuenta/editar}">


      <h1 class="mb-4">Editar Información de Usuario</h1>


    <form id="myForm" method="post">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
      <!-- ID del usuario   -->
      <input type="hidden" id="idUsuarioFormulario" th:value="${usuario.id}">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Usuario @</span>
        <input th:field="${usuario.username}" name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input th:field="${usuario.nombre}" name="nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Apellidos</span>
        <input th:field="${usuario.apellidos}" name="apellidos" type="text" class="form-control" placeholder="Apellidos" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Email</span>
        <input th:field="${usuario.email}" name="email" type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Teléfono</span>
        <input th:field="${usuario.telefono}" name="telefono" type="text" class="form-control" placeholder="teléfono" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      
      <button type="submit" class="btn btn-dark">Guardar Cambios</button>
    </form>

    </div>
    <script th:inline="javascript">
      var urlWithId = document.getElementById('urlWithId').value;
      var urlEditarCuenta = document.getElementById('urlEditarCuenta').value;
  
      //ID del usuario del formulario
      var userId = document.getElementById('idUsuarioFormulario').value;

      //ID del usuario de la sesión
      var sesionId = document.getElementById('sesionId').value;

      // Lógica para determinar qué URL asignar al action del formulario
      if (userId != sesionId) {
          document.getElementById('myForm').setAttribute('action', urlWithId);
      } else {
          document.getElementById('myForm').setAttribute('action', urlEditarCuenta);
      }
    </script>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
