<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header 
      <header class="jumbotron my-4">
        <h1 class="display-3">Mybopi</h1>
        <p class="lead">Tu tienda guay</p>
      </header> -->

      <!-- Page Features -->
      <div class="row text-center allign-content-center justify-content-center mb-4" style="margin-top: 50px;">

        <!-- dos columnas con una card cada una-->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a th:href="@{/totebags}">
              <img class="card-img-top" th:src="@{/images/home/totebags.jpg}" alt="">
            </a>
            
            <div class="card-body">
              <p class="card-text" th:text="TOTEBAGS"></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a th:href="@{/mochilas}">
              <img class="card-img-top" th:src="@{/images/home/mochilas.jpg}" alt="">
            </a>
            
            <div class="card-body">
              <p class="card-text" th:text="MOCHILAS"></p>
            </div>
          </div>
        </div>

      </div>

      <div class="row">
        <h4>Últimas novedades</h4>
      </div>

      <div class="row">
        <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${productosHome}">
        <div class="card h-100">
          <a th:href="@{/producto/{id}(id=${producto.id})}">
            <img class="card-img-top" th:src="@{/images/{img} (img = ${producto.portada})}" alt="" th:classappend="${producto.vendido} ? 'grayscale' : ''" >
            <div class="overlay" th:if="${producto.vendido}">
              <img th:src="@{/images/vendido.png}" alt="Vendido" class="vendido-image"/>
            </div>
          </a>
          
          <div class="card-body" >
            <p class="card-text text-center text" style="font-weight: bold" th:text="${producto.nombre}"></p>
          </div>
          
        </div>
        </div>
      </div>
      

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
