<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">

      <!-- Jumbotron Header -->
      <header class="jumbotron my-4">
        <h1 class="display-3">Mybopi</h1>
        <p class="lead">Tu tienda guay</p>
      </header>

      <!-- Page Features -->
      <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${productosHome}">
          <div class="card h-100">
            <img class="card-img-top" th:src="@{/images/{img} (img = ${producto.portada})}" alt="">
            <div class="card-body">
              <p class="card-text" th:text="${producto.nombre}"></p>
            </div>
            <div class="card-footer">
              <a th:href="@{/producto/{id}(id=${producto.id})}" class="btn btn-success">Ver producto</a>
            </div>
          </div>
        </div>


      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
