<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Mybopi</title>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/heroic-features.css}" rel="stylesheet">
    <link rel="icon" th:href="@{/images/admin/favicon.ico}" type="image/x-icon">
  </head>


<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

  <!-- Page Content -->
  <div class="container">



    <!-- Page Features -->
    <div class="row text-center allign-content-center justify-content-center mb-4" style="margin-top: 50px;">
      <!-- Modal -->
      <div class="modal" id="myModal" th:if="${mensaje}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 th:text="${mensaje}">Texto</h5>
            </div>
            <div class="modal-footer">
              <p></p>
            </div>
          </div>
        </div>
      </div>


      <!-- dos columnas con una card cada una-->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a th:href="@{/totebags}">
            <img class="card-img-top" th:src="@{/images/home/totebags.jpg}" alt="">
          </a>
          <div class="card-body">
            <p class="card-text" style="font-weight: bold;" th:text="TOTEBAGS"></p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
          <a th:href="@{/mochilas}">
            <img class="card-img-top" th:src="@{/images/home/mochilas.jpg}" alt="">
          </a>

          <div class="card-body">
            <p class="card-text" style="font-weight: bold;" th:text="MOCHILAS"></p>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <h1 class="mt-4 mb-3" style="margin-left: 15px;"><small>Últimas novedadesssssssssssssss</small></h1>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${productosHome}">
        <div class="card h-100">
          <a th:href="@{/producto/{id}(id=${producto.id})}">
            <img class="card-img-top" th:src="@{/images/{img} (img = ${producto.portada})}" alt=""
              th:classappend="${producto.vendido} ? 'grayscale' : ''">
            <div class="overlay" th:if="${producto.vendido}">
              <img th:src="@{/images/vendido.png}" alt="Vendido" class="vendido-image" />
            </div>
          </a>
          <div class="card-body">
            <div class="d-flex align-items-center text-container">
              <p class="product-name" th:text="${producto.nombre}"></p>
              <div class="vr mx-3"></div>
              <p class="product-price" th:text="${producto.precio} + '€'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{usuarios/template_usuario :: footer}"></div>

  <!-- Scripts -->
  <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  <!-- Añade JavaScript para abrir y cerrar el modal -->
  <script>
    // Espera a que el documento esté completamente cargado
    $(document).ready(function () {
      // Si hay un mensaje, muestra el modal
      if (document.getElementById("myModal")) {
        var myModal = new bootstrap.Modal(document.getElementById('myModal'));
        myModal.show();  // Muestra el modal

        // Cierra el modal después de 2 segundos (2000 milisegundos)
        setTimeout(function () {
          myModal.hide();  // Oculta el modal
        }, 2000);
      }
    });
  </script>

</body>

</html>