<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

    <!-- Navigation -->
    <div th:insert="~{usuarios/template_usuario :: nav}"></div>


    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row center-div">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Iniciar sesión</h4>
                        <form th:action="@{/usuario/login}" method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="username" placeholder="Escribe tu email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Escribe tu contraseña" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100">Iniciar sesión</button>
                            <br><br>
                            <h5 th:if="${param.error}" style="color: red; font-weight: bold; text-align: center">Email o contraseña incorrectos.</h5>
                            <h5 th:if="${param.logout}" style="color: green; font-weight: bold; text-align: center">Has cerrado sesión.</h5>
                        </form>
                        <br>
                        <div class="d-flex-justify" style="display: flex; justify-content: space-between;">
                            <a th:href="@{/usuario/registro}" class="card-link" style="color: rgb(70, 54, 30);">Registrarse</a>
                            <a th:href="@{/usuario/recordar}" class="card-link" style="color: rgb(70, 54, 30);">He olvidado la contraseña</a>
                        </div>
                    </div>
                </div>
                <br><br>
                
            </div>
        </div>
        <br><br>
    </div>
    <!-- /.Page Content -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

</body>

</html>
