<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

    <!-- Page Content -->
    <div class="container">

      <input type="hidden" id="urlWithId" th:value="'/edit/' + ${usuario.id}">
      <input type="hidden" id="urlEditarCuenta" th:value="@{/usuario/cuenta/editar}">

      <br><br>

      <h1 class="mb-4">Cambiar contraseña</h1>


      <form id="myForm" method="post" th:action="@{/usuario/password}">
        <!-- Contraseña actual -->
        <div class="form-group">
          <label for="currentPassword">Contraseña actual</label>
          <input type="password" name="currentPassword" class="form-control" id="currentPassword" placeholder="Introduce tu contraseña actual" required>
        </div>
        <!-- Nueva contraseña -->
        <div class="form-group">
          <label for="newPassword">Nueva contraseña</label>
          <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Introduce tu nueva contraseña" required>
        </div>
        <!-- Confirmar nueva contraseña -->
        <div class="form-group">
          <label for="repeatPassword">Repite la nueva contraseña</label>
          <input type="password" name="repeatPassword" class="form-control" id="repeatPassword" placeholder="Repite tu nueva contraseña" required>
        </div>
        <br>
        <button type="submit" class="btn btn-dark">Guardar Cambios</button>
        <br><br>
    </form>
    
    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
    <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
      

    </div>
    <script th:inline="javascript">
      var urlWithId = document.getElementById('urlWithId').value;
      var urlEditarCuenta = document.getElementById('urlEditarCuenta').value;
  
      //ID del usuario del formulario
      var userId = document.getElementById('idUsuarioFormulario').value;

      //ID del usuario de la sesión
      var sesionId = document.getElementById('sesionId').value;

      // Lógica para determinar qué URL asignar al action del formulario
      if (userId != sesionId) {
          document.getElementById('myForm').setAttribute('action', urlWithId);
      } else {
          document.getElementById('myForm').setAttribute('action', urlEditarCuenta);
      }
    </script>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

  </body>

  </html>
