<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

    <!-- Navigation -->
    <div th:insert="~{usuarios/template_usuario :: nav}"></div>


    <!-- Page Content -->
    <div class="container mt-5">
        <div class="row center-div">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Contraseña olvidada</h4>
                        <h6>Escribe tu correo a continuación, si existe, te enviaremos un email para que puedas cambiar tu contraseña.</h6>
                        <br>
                        <form th:action="@{/usuario/login}" method="post">
                            <div class="mb-3">
                                <input type="email" class="form-control" id="email" name="username" placeholder="Escribe tu email" required>
                            </div>
                            <button type="submit" class="btn btn-dark w-100">Enviar</button>
                        </form>
                        <br>
                        <div class="d-flex-justify" style="display: flex; justify-content: space-between;">
                            <a th:href="@{/usuario/registro}" class="card-link" style="color: rgb(70, 54, 30);">Registrarse</a>
                            <a th:href="@{/usuario/login}" class="card-link" style="color: rgb(70, 54, 30);">Iniciar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </div>
    <!-- /.Page Content -->

    <!-- Footer -->
    <div th:insert="~{usuarios/template_usuario :: footer}"></div>

    <!-- Scripts -->
    <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

</body>

</html>
