<!DOCTYPE html>
<html lang="es">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>
  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3"><small>Resumen del pedido</small></h1>
  
    <div class="row">
      <!-- Lista de productos -->
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title">PRODUCTOS</h5>
            <div class="alert alert-light" role="alert">
              <table class="table">
                <tbody>
                  <tr th:each="carrito : ${pedido.productos}">
                    <td><img class="img-fluid" th:src="@{images/{img} (img = ${carrito.portada})}" width="100px" height="100px"/></td>
                    <!-- Añade text-align: center; al estilo de las celdas para centrar el texto -->
                    <td style="text-align: left; font-size: large;" th:text="${carrito.nombre}">Nombre</td>
                    <td style="text-align: center; font-weight: bold; font-size: large" th:text="${carrito.precio} + '€'">Precio</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <h6 style="text-align: right" th:unless="${pedido.usuario.direccion == null or pedido.usuario.direccion.trim().length() == 0 or 
              pedido.usuario.nombre == null or pedido.usuario.nombre.trim().length() == 0 or 
              pedido.usuario.localidad == null or pedido.usuario.localidad.trim().length() == 0 or 
              pedido.usuario.telefono == null or pedido.usuario.telefono.trim().length() == 0 or 
              pedido.usuario.email == null or pedido.usuario.email.trim().length() == 0 or 
              pedido.usuario.CP == null or pedido.usuario.CP.trim().length() == 0}" th:text="'Gastos de envío: ' + '6,95' + '€'">Total: </h6>
            <h5 th:text="'Total: ' + ${pedido.total} + '€'" style="text-align: right; font-weight: bold"></h5>
          </div>
        </div>
            <label class="form-check-label" for="exampleRadios1">
              <img th:src="@{/images/admin/CorreosLogo.png}" width="30px" height="30px"/> Envío con Correos. Entrega de 3 a 5 días, con número de seguimiento.
            </label>
      </div>
  
      <!-- Columna de dirección y resumen -->
      <div class="col-lg-4">
        <!-- Tarjeta de dirección -->
        <div class="card mb-4" th:style="${pedido.usuario.direccion == null or pedido.usuario.direccion.trim().length() == 0 or 
          pedido.usuario.nombre == null or pedido.usuario.nombre.trim().length() == 0 or 
          pedido.usuario.localidad == null or pedido.usuario.localidad.trim().length() == 0 or 
          pedido.usuario.telefono == null or pedido.usuario.telefono.trim().length() == 0 or 
          pedido.usuario.email == null or pedido.usuario.email.trim().length() == 0 or 
          pedido.usuario.CP == null or pedido.usuario.CP.trim().length() == 0 
          ? 'width: 19rem; border-color: red;' : 'width: 19rem' }">

          <div class="card-body" th:if="${pedido.usuario.direccion != null && pedido.usuario.nombre != null && pedido.usuario.localidad != null && pedido.usuario.telefono != null && pedido.usuario.email != null && pedido.usuario.CP != null}">
            <h5 class="card-title">Dirección</h5>
            <br>
            <h6 class="card-subtitle mb-2" th:text="${pedido.usuario.nombre + ' ' + pedido.usuario.apellidos}"></h6>
            <h7 class="card-text" th:text="${pedido.usuario.direccion}"></h7>
            <br>
            <h7 class="card-text" th:text="${pedido.usuario.localidad}"></h7>
            <br>
            <h7 class="card-text" th:text="'CP: ' +${pedido.usuario.CP}"></h7>
            <br>
            <h7 class="card-text" th:text="'Tlf: ' + ${pedido.usuario.telefono}"></h7>
            <br>
            <h7 class="card-text" th:text="${pedido.usuario.email}"></h7>
            <p></p>
            <!-- Botón de editar -->
            <a th:href="@{/usuario/cuenta/editar}"><button type="button" class="btn btn-dark">Editar</button></a>
          </div>
          
          <div class="card-body" th:if="${pedido.usuario.direccion == null || pedido.usuario.nombre == null || pedido.usuario.localidad == null || pedido.usuario.telefono == null || pedido.usuario.email == null || pedido.usuario.CP == null}">
            <h5 class="card-title">Dirección</h5>
            <br>
            <h6 class="card-subtitle mb-2">Sin dirección</h6>
            <br>
            <!-- Botón de editar -->
            <a th:href="@{/usuario/cuenta/editar}"><button type="button" class="btn btn-dark">Agregar dirección</button></a>
          </div>
          
        </div>

        
  
        <!-- Resumen -->
        <div class="card mb-4" style="width: 19rem;">
          <div class="card-body">
            <h5 class="card-title">Pago</h5>
            <form id="payment-form" action="/guardarPedido" method="post">
              <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
              <div>
                <label for="card-holder-name">Nombre completo</label>
                <input type="text" id="card-holder-name" name="card-holder-name">
              </div>
              <div>
                <label for="card-element">Tarjeta</label>
                <div id="card-element">
                  <!-- A Stripe Element will be inserted here. -->
                </div>
              </div>
              <button type="button" data-toggle="modal" data-target="#exampleModal" th:if="${pedido.usuario.direccion == null || pedido.usuario.direccion == '' || pedido.usuario.nombre == null || pedido.usuario.nombre == '' || pedido.usuario.localidad == null || pedido.usuario.localidad == '' || pedido.usuario.telefono == null || pedido.usuario.telefono == '' || pedido.usuario.email == null || pedido.usuario.email == '' || pedido.usuario.CP == null || pedido.usuario.CP == ''}"  class="btn btn-dark">Pagar</button>
              <button th:unless="${pedido.usuario.direccion == null || pedido.usuario.direccion == '' || pedido.usuario.nombre == null || pedido.usuario.nombre == '' || pedido.usuario.localidad == null || pedido.usuario.localidad == '' || pedido.usuario.telefono == null || pedido.usuario.telefono == '' || pedido.usuario.email == null || pedido.usuario.email == '' || pedido.usuario.CP == null || pedido.usuario.CP == ''}" type="submit" class="btn btn-dark">Pagar</button>
              <div id="error-message" role="alert"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel" style="color: rgb(241, 193, 120);">Sin dirección</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Por favor, configura una dirección para que podamos realizar el envío.</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-- /.container -->


  <!-- Include Stripe.js -->
<script src="https://js.stripe.com/v3/"></script>
<script>
  // Set your publishable key
  var stripe = Stripe('pk_test_51PJXqG2M93Fl6PVfztPucpSijjnkV2UlbnP6KGYvLnAhduH2gfIOPMCZBBCvup7NcARJ9sGBPXN4U8HdpmQx7ClB00BRddCvZ7');
  var elements = stripe.elements();

  // Create an instance of the card Element
  var card = elements.create('card');

  // Add an instance of the card Element into the `card-element` div
  card.mount('#card-element');

  // Handle form submission
  var form = document.getElementById('payment-form');
  form.addEventListener('submit', function(event) {
      event.preventDefault();

      stripe.createToken(card).then(function(result) {
          if (result.error) {
              // Inform the user if there was an error
              var errorElement = document.getElementById('error-message');
              errorElement.textContent = result.error.message;
          } else {
              // Send the token to your server
              stripeTokenHandler(result.token);
          }
      });
  });

  // Submit token to your server
  function stripeTokenHandler(token) {
      // Insert the token ID into the form so it gets submitted to the server
      var form = document.getElementById('payment-form');
      var hiddenInput = document.createElement('input');
      hiddenInput.setAttribute('type', 'hidden');
      hiddenInput.setAttribute('name', 'stripeToken');
      hiddenInput.setAttribute('value', token.id);
      form.appendChild(hiddenInput);

      // Submit the form
      form.submit();
  }
</script>


<!-- Footer -->
<div th:insert="~{usuarios/template_usuario :: footer}"></div>

<!-- Scripts -->
<div th:insert="~{usuarios/template_usuario :: scripts}"></div>
</body>

</html>
