<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="icon" th:href="@{/images/admin/favicon.ico}" type="image/x-icon">
    <title>Totebags</title>
</head>

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{usuarios/template_usuario :: nav}"></div>

  <!-- Page Content -->
  <div class="container">

    <!-- Page Features -->
    <div class="row text-center allign-content-center justify-content-center mb-4" style="margin-top: 50px;">

    </div>

    <div class="row">
      <h4 style="margin-left: 15px;">Totebags</h4>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4" th:each="producto : ${inventario}">
        <div class="card h-100">
          <a th:href="@{/producto/{id}(id=${producto.id})}">
            <img class="card-img-top" th:src="@{/images/{img} (img = ${producto.portada})}" alt=""
              th:classappend="${producto.vendido} ? 'grayscale' : ''">
            <div class="overlay" th:if="${producto.vendido}">
              <img th:src="@{/images/vendido.png}" alt="Vendido" class="vendido-image" />
            </div>
          </a>
          <div class="card-body">
            <div class="d-flex align-items-center text-container">
              <p class="product-name" th:text="${producto.nombre}"></p>
              <div class="vr mx-3"></div>
              <p class="product-price" th:text="${producto.precio} + '€'"></p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- /.container -->

  <!-- Footer -->
  <div th:insert="~{usuarios/template_usuario :: footer}"></div>

  <!-- Scripts -->
  <div th:insert="~{usuarios/template_usuario :: scripts}"></div>

</body>

</html>