<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{admin/template_admin :: header}"></div>

<body>

<div th:insert="~{admin/template_admin :: nav}"></div>

<!-- Page Content -->
<div class="container">


  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">
    Mybopi <small>Productos</small>
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a th:href="@{/productos}">Productos</a></li>
    <li class="breadcrumb-item active">Ver Productos</li>
  </ol>

  <a class="btn btn-primary" th:href="@{productos/crear}" > Crear Producto</a>
  <h2>Productos</h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Portada</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoría</th>
        <th scope="col">Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="producto : ${inventario}">
        <td th:text="${producto.portada}"></td>
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio}"></td>
        <td th:text="${producto.categoria}"></td>
        <td th:text="${producto.activo}"></td>
        <td><a  class="btn btn-warning" th:href="@{/productos/editar/{id}(id=${producto.id})}">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/productos/eliminar/{id}(id=${producto.id})}">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<div th:insert="~{admin/template_admin :: footer}"></div>

<!-- Scripts -->
<div th:insert="~{admin/template_admin :: scripts}"></div>

</body>

</html>
