<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{usuarios/template_usuario :: header}"></div>

<body>

<div th:insert="~{usuarios/template_usuario :: nav}"></div>

<!-- Page Content -->
<div class="container">
  <br><br>
  <h2>Productos</h2>
  <table class="table" style="text-align: center;">
    <thead>
      <tr>
        <th scope="col">Portada</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Categoría</th>
        <th scope="col">Activo</th>
        <th scope="col">Vendido</th>
        <th scope="col" colspan="2"><a class="btn btn-warning w-100" th:href="@{/productos/crear}" >Añadir</a></th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="producto : ${inventario}">
        <td>
          <img th:src="@{/images/{img} (img = ${producto.portada})}" width="100px" height="100px"/>
        </td>        
        <td th:text="${producto.nombre}"></td>
        <td th:text="${producto.precio} + '€'"></td>
        <td>
          <img th:if="${producto.categoria} == '1'" th:src="@{/images/home/totebags.jpg}" width="30px" height="30px"/>
          <img th:if="${producto.categoria} == '2'" th:src="@{/images/home/mochilas.jpg}" width="30px" height="30px"/>
        <td>
           <img th:if="${producto.activo}" th:src="@{/images/admin/Verde.png}" width="30px" height="30px"/>
           <img th:if="${!producto.activo}" th:src="@{/images/admin/Rojo.png}" width="30px" height="30px"/>

        </td>
        <td>
           <img th:if="${producto.vendido}" th:src="@{/images/admin/euro.png}" width="30px" height="30px"/>
           <img th:if="${!producto.vendido}" th:src="@{/images/admin/eurogris.png}" width="30px" height="30px"/>
        </td>
        <td><a  class="btn btn-dark" th:href="@{/productos/editar/{id}(id=${producto.id})}">Editar</a> </td>
        <td><a  class="btn btn-danger" th:href="@{/productos/eliminar/{id}(id=${producto.id})}">Eliminar</a> </td>
      </tr>       
    </tbody>
  </table>

</div>
<!-- /.container -->

<div th:insert="~{usuarios/template_usuario :: footer}"></div>

<!-- Scripts -->
<div th:insert="~{usuarios/template_usuario :: scripts}"></div>

</body>

</html>
