<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<div th:insert="~{admin/template_admin :: header}"></div>

<body>

  <!-- Navigation -->
  <div th:insert="~{admin/template_admin :: nav}"></div>
    <!-- Page Content -->
    <div class="container">



      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Mybopi <small>Productos</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/productos}">Productos</a></li>
        <li class="breadcrumb-item active">Actualizar Producto</li>
      </ol>

      <h2>Actualizar Producto</h2>
      <form class="form-horizontal" th:action="@{/productos/actualizar}" method="post"  enctype="multipart/form-data">
        <input type="hidden" name="id" th:value="${producto.id}">

        <div class="form-group">
          <label class="control-label col-sm-2" for="nombre">Título:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese el nombre del producto" required autocomplete="off" th:value="${producto.nombre}">
            <div id="prueba"></div>  
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="descripcion">Descripción:</label>
          <div class="col-sm-10">          
            <textarea class="form-control" id="descripcion" name="descripcion" placeholder="Ingrese la descripcion del producto" required autocomplete="off" th:text="${producto.descripcion}"> </textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="precio">Precio:</label>
          <div class="col-sm-10">          
            <input type="number" class="form-control" step="any"  id="precio" name="precio" placeholder="Ingrese el precio del producto" th:value="${producto.precio}" required autocomplete="off">
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="categoria">Categoría:</label>
          <div class="col-sm-10">
            <select class="form-control" id="categoria" name="categoria">
              <option value="1" th:selected="${producto.categoria == 1}">Totebag</option>
              <option value="2" th:selected="${producto.categoria == 2}">Bolsa</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for="activo">Activo:</label>
          <div class="col-sm-10">
            <select class="form-control" id="activo" name="activo">
              <option value="true" th:selected="${producto.activo == true}">Si</option>
              <option value="false" th:selected="${producto.activo == false}">No</option>
            </select>
          </div>
        </div>

        <div class="form-group">
          <label  class="control-label col-sm-2" for="img">Portada:</label>
          <img th:src="@{/images/{img} (img = ${producto.portada})}" width="100px" height="100px">
          <div class="col-sm-10">  
            <input type="file" class="form-control-file" id="img1" name="img1" th:value="${producto.portada}">
          </div>
        </div>

        <div class="form-group">
          <label  class="control-label col-sm-2" for="img">Imagen 1:</label>
          <div class="col-sm-10">  
            <input type="file" class="form-control-file" id="img" name="img" th:value="${producto.imagen1}">
          </div>
        </div>

        <div class="form-group">
          <label  class="control-label col-sm-2" for="img">Imagen 2:</label>
          <div class="col-sm-10">  
            <input type="file" class="form-control-file" id="img" name="img" th:value="${producto.imagen2}">
          </div>
        </div>

        <!-- form-group for video 
    <div class="form-group">
      <label class="control-label col-sm-2" for="video">Video:</label>
      <div class="col-sm-10">
        <input type="file" class="form-control-file" id="video" name="video" th:value="${producto.video}">
      </div>
    </div> -->

        <div class="row">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success"> Guardar</button>
          </div>             
        </div>

      </form>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <div th:insert="~{admin/template_admin :: footer}"></div>

<!-- Scripts -->
<div th:insert="~{admin/template_admin :: scripts}"></div>

  </body>

  </html>
